@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-square-banner-2013/css/bpg-square-banner-2013.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-square-banner-caps-2013/css/bpg-square-banner-caps-2013.min.css");

.user-search {
  height: fit-content;
  margin-top: 10rem;
}
#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  outline: none;
  margin-bottom: 12px;
  margin-top: 20px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  margin-top: 10px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
}
.user--name {
  margin-left: 1rem;
  font-size: 0.9rem;
}
.user--li {
  margin-top: 0.8rem;
}

/* User Page Styles */
.user-info {
  margin: 6rem 0 1rem;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-info--pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.user-info--text {
  margin-left: 32px;
}
.user-info--text .main-status {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
  background: #327f37;
  color: #ffffff;
}
.user-info--text span {
  display: inline-block;
  margin-right: 16px;
}

.quote {
  text-align: justify;
}



/* Card Styles */
.cards {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
}

.card-side {
  font-family: "BPG Square Banner Caps 2013", sans-serif;
  width: 500.775px;
  height: 802.5px;
  border: 2px solid #ddd;
  color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.card-front {
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

.card-front .card-header h3 {
  font-size: 22.5px;
}

.card-front .card-header span {
  font-size: 17.5px;
}

.card-side * {
  font-family: inherit;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.card-bg-0 {
  position: absolute;
  right: -20%;
  top: -14%;
  width: 320px;
  height: 320px;
  opacity: 0.15;
  transform: rotate(210deg);
}

.card-bg-1 {
  position: absolute;
  left: 7.5%;
  top: 9.5%;
  width: 200px;
  height: 200px;
  opacity: 0.26;
}

.card-bg-2 {
  position: absolute;
  left: 16%;
  top: 4%;
  width: 100%;
  height: 100%;
  opacity: 0.26;
  z-index: -1;
}

.card-back .card-bg-1{
  left: auto;
  right: 17.5%;
  top: 15%;
  width: 150px;
  height: 150px;
  opacity: 0.09;
}

.card-back .card-bg-2{
  left: -40px;
  top: 60px;
  width: 86%;
  opacity: 0.09;
  transform: scaleX(-1);
  height: 90%;
}

.card-header {
  background-color: transparent;
  border: 0;
  padding: 27.5px 25px 0 25px;
  margin-bottom: 5rem;

}

.card-header h3 {
  font-size: 25px;
  margin-bottom: 1rem;

}

.card-header span {
  font-size: 15px;
  color: #6EAC43;
}

.card-main {
  padding:0 25px;
  flex: 1;
}

.card-main span {
  font-family: "BPG Square Banner 2013", sans-serif;
  font-size: 12.5px;
  opacity: 0.5;
}

.card-main h4 {
  font-size: 27.5px;
  margin: 14px 0 60px;
}

.bedges {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  left: 25px;
  bottom: 112.5px;
}

.bedges img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  background: #fff;
  margin-top: -1.5rem;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 435px;
}

.qrcode-img {
  width: 105px;
  height: 105px;
  object-fit: cover;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-60%);
}

.card-footer {
  height: 92.5px;
  background-color: #6EAC43;
  display: flex;
  align-items: center;
  padding: 25px;
}

.card-footer:last-child {
  border-radius: 0;
}

.card-footer h2{
  font-size: 20px;
  color: #FFFFFF;
}

/* Card Form Styles */
.card-form {
  margin-top: 6rem;
}

.card-form .btn {
  width: calc(100% - 20px);
  margin: auto;
}

.choices__inner {
  background-color: transparent;
  border-radius: 4px;
  min-height: auto;
  padding: 5px 0 0 5px;
}

.choices__input {
  background-color: transparent;
}

/* Resposive Styles */

@media(max-width: 995px){
  .user-info {
    justify-content: center;
  }

  .cards {
    flex-direction: column;
  }
}

@media(max-width: 740px){
  .user-info {
    margin: 6rem 0 1rem;
    height: 75px;
    justify-content: flex-start;
  }
  .user-info--pic {
    width: 75px;
    height: 75px;
  }
  .user-info--text {
    margin-left: 9px;
  }
  .user-info--text h4 {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .user-info--text span {
    font-size: 14px;
  }
  .quote {
    font-size: 14px;
  }
}

@media(max-width: 535px){
  .cards {
    transform: scale(0.9);
    transform-origin: center top;
    margin-bottom: -150px;
  }
}

@media(max-width: 475px){
  .cards {
    transform: scale(0.8);
    margin-bottom: -275px;
  }
}

@media(max-width: 415px){
  .user-info {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
  }

  .user-info--pic {
    order: 1;
  }
  #qrcode {
    order: 2;
    justify-self: flex-end;
  }
  .user-info--text {
    grid-column: 1/3;
    order: 3;
    margin: 8px ;
  }

  .cards {
    transform: scale(0.7);
    margin-bottom: -455px;
  }
}

@media(max-width: 370px){
  .cards {
    transform: scale(0.6);
    margin-bottom: -615px;
  }
}