@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-square-banner-2013/css/bpg-square-banner-2013.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-square-banner-caps-2013/css/bpg-square-banner-caps-2013.min.css");

@font-face {
  font-family: 'DM Galaktioni';
  src: url('../fonts/DMGalaktioni.eot');
  src: url('../fonts/DMGalaktioni.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DMGalaktioni.woff2') format('woff2'),
      url('../fonts/DMGalaktioni.woff') format('woff'),
      url('../fonts/DMGalaktioni.ttf') format('truetype'),
      url('../fonts/DMGalaktioni.svg#../fonts/DMGalaktioni') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* All Users Page */
#searchInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  outline: none;
  margin-bottom: 12px;
  margin-top: 20px;
}

#usersList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#usersList li a {
  margin-top: 10px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#usersList li a:hover:not(.header) {
  background-color: #eee;
}

.user-search {
  margin-top: 2rem;
}

.list-user {
  margin-top: 0.8rem;
}

.list-user .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
}
.list-user .user-name {
  margin-left: 1rem;
  font-size: 0.9rem;
}


/* User Page Styles */
.profile-header {
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.profile-header .user-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-header .user-text {
  flex: 1;
  margin-left: 32px;
}

.profile-header .user-text .main-status {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
  background: #2e6631;
  color: #ffffff;
}

.profile-header .user-text span {
  display: inline-block;
  margin-right: 16px;
}

.edit-btn {
  display: none;
  text-align: end;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.edit-btn-active {
  display: block;
}

/* Screens Lower than 768px */
@media (max-width: 768px) {
  .profile-header {
    height: 75px;
  }

  .profile-header .user-img {
    width: 75px;
    height: 75px;
  }
  
  .profile-header .user-text {
    flex: 1;
    margin-left: 9px;
  }

  .profile-header .user-text h4 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .profile-header .user-text span {
    font-size: 14px;
  }
}

/* Screens Lower than 768px */
@media (max-width: 420px) {
  .profile-header {
    height: auto;
    grid-template-columns: 1fr 1fr;
  }

  .profile-header .user-img {
    order: 1;
  }

  .profile-header .edit-btn {
    order: 2;
    justify-self: flex-end;
  }

  .profile-header .user-text {
    grid-column: 1/3;
    order: 3;
    margin: 12px 0 0;
  }
}


/* Card Styles */
.cards {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
}

.card-side {
  font-family: "BPG Square Banner Caps 2013", sans-serif;
  width: 500.775px;
  height: 802.5px;
  border: 2px solid #ddd;
  color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.card-front {
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

.card-front .card-header h3 {
  font-size: 27px;
}

.card-front .card-header span {
  font-size: 21px;
}

.card-side * {
  font-family: inherit;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.card-bg-0 {
  position: absolute;
  right: -20%;
  top: -14%;
  width: 320px;
  height: 320px;
  opacity: 0.15;
  transform: rotate(210deg);
}

.card-bg-1 {
  position: absolute;
  left: 7.5%;
  top: 9.5%;
  width: 200px;
  height: 200px;
  opacity: 0.26;
}

.card-bg-2 {
  position: absolute;
  left: 16%;
  top: 4%;
  width: 100%;
  height: 100%;
  opacity: 0.26;
  z-index: -1;
}

.card-back .card-bg-1{
  left: auto;
  right: 17.5%;
  top: 15%;
  width: 150px;
  height: 150px;
  opacity: 0.09;
}

.card-back .card-bg-2{
  left: -40px;
  top: 60px;
  width: 86%;
  opacity: 0.09;
  transform: scaleX(-1);
  height: 90%;
}

.card-header {
  background-color: transparent;
  border: 0;
  padding: 27.5px 25px 0 25px;
  margin-bottom: 5rem;

}

.card-header h3 {
  font-size: 25px;
  margin-bottom: 1rem;

}

.card-header span {
  font-size: 18px;
  color: #6EAC43;
}

.card-main {
  padding:0 25px;
  flex: 1;
}

.card-main span {
  font-family: "BPG Square Banner 2013", sans-serif;
  font-size: 12.5px;
  opacity: 0.5;
}

.card-main h4 {
  font-size: 27.5px;
  margin: 14px 0 60px;
  letter-spacing: -1px;
}

.badges {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  left: 25px;
  bottom: 112.5px;
}

.badges img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  background: #fff;
  margin-top: -1.5rem;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 435px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.qrcode-img {
  width: 105px;
  height: 105px;
  object-fit: cover;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-60%);
}

.card-front .card-footer h2{
  font-family: DM Galaktioni;
  font-size: 36px;
  font-weight: bold;
}

.card-footer {
  height: 92.5px;
  background-color: #6EAC43;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-footer:last-child {
  border-radius: 0;
}

.card-footer h2{
  font-size: 24px;
  color: #000;
}

/* Resposive Styles */

@media(max-width: 995px){
  .cards {
    flex-direction: column;
  }
}

@media(max-width: 535px){
  .cards {
    transform: scale(0.9);
    transform-origin: center top;
    margin-bottom: -150px;
  }
}

@media(max-width: 475px){
  .cards {
    transform: scale(0.8);
    margin-bottom: -275px;
  }
}

@media(max-width: 415px){
  .cards {
    transform: scale(0.7);
    margin-bottom: -455px;
  }
}

@media(max-width: 370px){
  .cards {
    transform: scale(0.6);
    margin-bottom: -615px;
  }
}


/* Card Form Styles */
#cardForm {
  margin-top: 1rem;
}

form .btn {
  width: calc(100% - 23px);
  margin: 0.5rem auto;
  padding: 6px 0;
}

.choices {
  height: 39px;
} 

.choices__inner {
  background-color: transparent;
  border-radius: 4px;
  padding: 5px 0 0 5px;
  height: 100%;
  overflow-y: scroll;
  min-height: auto;
}

.choices__input {
  background-color: transparent;
}

.row > div {
  padding-top: inherit;
  padding-bottom: inherit;
}