// ======= Head =======
include defaultParts/head.pug
// End Head

// Template Main CSS File
link(href='/assets/css/style.css' rel='stylesheet')

body.body-bg
  // ======= Header =======
  include defaultParts/header.pug
  // End Header

  main.constitution.container
    h1 არაფორმალური ორგანიზაცია კანაფის მოყვარულთა საზოგადოების კონსტიტუცია
    section.wewant
      h2 მიზნები
      p ჩვენ გვინდა:
      p საქართველოში კანაფის და მისი პროდუქტების სრული ლეგალიზაცია.
      p საქართველოში პირველი კოფიშოპის გახსნა.
      p ერთმანეთის დაცვა სახელმწიფო სისტემის ძალადობისგან.
      p საზოგადოებრივი ცნობიერების ამაღლება კანაფის კულტურასთან დაკავშირებით.

    section
      h2 წევრობაზე
      ul
        li
          | საზოგადოების წევრი შეიძლება იყოს ნებისმიერი ადამიანი, განურჩევლად საცხოვრებელი ადგილისა, პროფესიისა, მოქალაქეობისა, პოლიტიკური, რელიგიური, სექსუალური, ეთნიკური და ა.შ. კუთვნილებისა, რომელიც თვლის, რომ მას ეკუთვნის საკუთარი სხეული, იხდის საწევროს და აღიარებს საზოგადოების კონსტიტუციას.
        li
          | საზოგადოების წევრი შეიძლება იყოს უპარტიო ან რომელიმე პარტიის წევრი ან მხარდამჭერი, მაგრამ მისი საქმიანობა არ უნდა ეწინააღმდეგებოდეს საზოგადოების მიზნებს.
        li
          | საზოგადოების წევრი არ შეიძლება იყოს სხვა ნარკოტიკების ლეგალიზაციის წინააღმდეგი და ამ საფუძვლით, არ უნდა ითხოვდეს ადამიანთა დასჯას.
        li
          | საზოგადოების მიზნიდან გამომდინარე, მისი წევრები ცდილობენ დაეხმარონ და დაიცვან ერთმანეთი ძალადობისგან, რომელიც მომდინარეობს სახელმწიფო სისტემის სახელით მოქმედი ადამიანებისგან.
        li
          | კონფლიქტის შემთხვევაში, საზოგადოების სახელით მოლაპარაკე ადამიანი უნდა იყოს პრინციპული, მაგრამ კორექტული, არ უნდა გაუწიოს ფიზიკური წინააღმდეგობა და მიაყენოს შეურაცხყოფა პოლიციის ან სახელმწიფო სისტემის სხვა წარმომადგენლებს.
        li
          | საზოგადოების წევრები ითვალისწინებენ იმ ზოგად მსოფლმხედველობრივ განსხვავებებს, რაც მათ შეიძლება ჰქონდეთ ერთმანეთთან, საზოგადოების მიზნის მიღმა საკითხებთან დაკავშირებით და თანხმდებიან იმაზე, რომ ეს არ შეიძლება გახდეს იმდაგვარი კონფლიქტის მიზეზი, რამაც შეიძლება ხელი შეუშალოს საზოგადოების მიზნებს.
        li
          | საზოგადოების ყველა წევრი იხდის ყოველთვიულ მინიმალურ საწევროს, არანაკლებ ერთი ლარისა. საწევროს გადაუხდელობის შემთხვევაში საზოგადოების წევრის სტატუსი ჩერდება, ხოლო ადეკვატურ ვადაში გადაუხდელობის შემთხვევაში შეწყდება.
        li
          | საზოგადოების წევრთა ვინაობა და მათი წვლილი საზოგადოებაში წარმოადგენს საჯარო ინფორმაციას.
        li
          | საზოგადოების წევრებს და პარტნიორებს გადაეცემათ კანაფის მოყვარულის ბარათი და სერთიფიკატი.
    section
      h2 მართვა
      ul
        li
          | საზოგადოების მმართველი ორგანოა კანაფის მოყვარულთა საბჭო, რომელიც აირჩევა ერთი წლის ვადით და რომლის წევრებიც არიან:
          ul.type-geo
            li საზოგადოების წევრი საქართველოს პარლამენტის დეპუტატები.
            li ოქროს ინვესტორები - საზოგადოების ის წევრები, რომლებმაც განახორციელეს, არანაკლებ 10 ათასი ლარის ინვესტიცია
            li საზოგადოების ბოლო წლის ყველაზე მსხვილი შემომწირველი.
            li თვეში არანაკლებ ათასი ლარის შემომწირველი.
            li სამ ადამიანს ირჩევენ საზოგადოების წევრები.
        li საბჭო გადაწყვეტილებას იღებს უმრავლესობით.
        li საბჭო თავისი უფლებამოსილების ვადით, ნიშნავს პროექტებზე პასუხისმგებელ პირს/პირებს, რომელიც პასუხისმგებელია საბჭოს და საზოგადოების წინაშე.
        li კანაფის მოყვარულთა საბჭოს ვადა, შეიძლება გაგრძელდეს მაქსიმუმ ერთი წლის ვადით, თუ საბჭო მიიღებს ასეთ გადაწყვეტილებას.
    section
      h2 შემოსავლები და ხარჯები.
      p საზოგადოების ფინანსები უზრუნველყოფილია საწევროებისგან, შემოწირულობებისგან, ინვესტიციებისგან და პატიოსანი გზით ნაშოვნი სხვა შემოსავლებისგან.
      p საზოგადოების შემოსავლების ნახევარი განკუთვნილია საზოგადოების ლობისტი საქართველოს პარლამენტის წევრებისთვის, ხოლო დარჩენილის განკარგვა ხდება პროექტზე პასუხისმგებელ პირთა მიერ.
      p საზოგადოების შემოსავლების და მათი ხარჯვის შესახებ ინფორმაცია საჯაროა.
    section
      h2 კონფლიქტები
      p საზოგადოების წევრებს შორის კონფლიქტები წყდება საუბრით.
      p თუ კონფლიქტის გადაწყვეტა საუბრით ვერ ხერხდება, კონფლიქტს კონსტიტუციით განსაზღვრული წესით, განიხილავს გირჩის საარბიტრაჟო სასამართლო, რომლის გადაწყვეტილებასაც საზოგადოების წევრებისთვის აქვს სავალდებულო ძალა.
    section
      h2 დაფუძნების დრო და დამფუძნებლები
      p საზოგადოება შედგება დამფუძნებელი და შემოერთებული წევრებისაგან.
      p საზოგადოება დაფუძნებულად ჩაითვლება 2021 წლის 30 ივლისის 4:20 - დან. საზოგადოების დამფუძნებელი წევრები არიან ადამიანები და კომპანიები, რომლებიც ამ დრომდე გამოთქვამენ ამის სურვილს და გადაიხდიან საწევროს.
 
  // ======= Footer =======
  include defaultParts/footer.pug
  // End Footer

// ======= Scripts =======
include defaultParts/scripts.pug
// End Scripts