// ======= Head =======
include parts/head.pug
// End Head

// Template CSS Files
link(href='/assets/css/style.css' rel='stylesheet')
link(href='/assets/css/user.css' rel='stylesheet')

// ======= Header =======
include parts/header.pug
// End Header

// User Search
.user-search.container
  h5 &#x10DB;&#x10DD;&#x10DB;&#x10EE;&#x10DB;&#x10D0;&#x10E0;&#x10D4;&#x10D1;&#x10DA;&#x10D4;&#x10D1;&#x10D8;
  input#myInput(type='text' onkeyup='myFunction()' placeholder='ძიება....' title='Type in a name')
  ul#myUL
    each user in usersList
      li
        a.user--li(href=`user/${user.user_id}`)
          img.user-pic(src= user.img)
          span.user--name= user.name
  br
  p#underUl= `სულ მომხმარებელთა რაოდენობა - ${usersList.length}` 
                   
// ======= Footer =======
include parts/footer.pug
// End Footer

// ======= Scripts =======
include parts/scripts.pug
// End Scripts

// Template Main JS File
script(src='/assets/js/main.js')
script(src='/assets/js/userSearchFilter.js')
